.main-action { position: relative; width: 530px; height: 350px; padding-top: 75px; }
.main-action .h1 { margin-bottom: 20px; line-height: 1.3; }
.main-action p { margin-bottom: 25px; font-size: 24px; color: #3f3f3f; }

.main-action__pic-1, .main-action__pic-2, .main-action__pic-3 { position: absolute; }
.main-action__pic-1 img, .main-action__pic-2 img, .main-action__pic-3 img { display: block; border: 2px solid white; -webkit-border-radius: 10px; -moz-border-radius: 10px; -ms-border-radius: 10px; -o-border-radius: 10px; border-radius: 10px; -webkit-box-shadow: 0 3px 3px #cccccc; -moz-box-shadow: 0 3px 3px #cccccc; box-shadow: 0 3px 3px #cccccc; }

.main-action__pic-1 { top: 90px; right: -325px; z-index: 3; }

.main-action__pic-2 { top: 140px; right: -470px; -moz-transform: rotate(-10deg); -o-transform: rotate(-10deg); -webkit-transform: rotate(-10deg); -ms-transform: rotate(-10deg); transform: rotate(-10deg); z-index: 2; }

.main-action__pic-3 { top: 40px; right: -430px; -moz-transform: rotate(9deg); -o-transform: rotate(9deg); -webkit-transform: rotate(9deg); -ms-transform: rotate(9deg); transform: rotate(9deg); z-index: 1; }

.prizes { margin-bottom: 35px; padding: 30px 0; background: url(../img/yellow-bg.jpg); color: #2c6aa7; }
.prizes .text { padding: 30px 0 60px 0; }
.prizes .h2 { margin-bottom: 35px; text-align: center; }
.prizes .prizes__list { font-size: 0; }
.prizes .prizes__item { position: relative; display: inline-block; width: 295px; vertical-align: top; }
.prizes .prizes__item .prizes__by-title { right: 5px; }
.prizes .prizes__item .prizes__by { top: 10px; left: 200px; z-index: 3; }
.prizes .prizes__item_mod { width: 410px; }
.prizes .prizes__item_mod .prizes__by-title { left: 139px; }
.prizes .prizes__item_mod .prizes__by { left: 155px; }
.prizes .prizes__info { position: relative; height: 320px; }
.prizes .prizes__by-title { position: absolute; top: 5px; font-size: 18px; font-weight: 700; text-shadow: white 2px 0px 1px, white 2px 2px 1px, white 0px 2px 1px, white -2px 2px 1px, white -2px 0px 1px, white -2px -2px 1px, white 0px -2px 1px, white 2px -2px 1px, rgba(0, 0, 0, 0.75) 3px 3px 8px; z-index: 5; }
.prizes .prizes__title { margin-bottom: 50px; text-align: center; font-size: 24px; }
.prizes .prizes__by, .prizes .prizes__subject { position: absolute; }
.prizes .prizes__by img, .prizes .prizes__subject img { display: block; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; border: 1px solid #ccb59a; }
.prizes .prizes__by { width: 70px; height: 70px; }
.prizes .prizes__by img { -webkit-box-shadow: rgba(0, 0, 0, 0.24) 4px 4px 9px; -moz-box-shadow: rgba(0, 0, 0, 0.24) 4px 4px 9px; box-shadow: rgba(0, 0, 0, 0.24) 4px 4px 9px; }
.prizes .prizes__subject { position: absolute; width: 150px; height: 150px; }
.prizes .prizes__subject span { position: absolute; top: 160px; width: 140px; text-align: center; font-size: 14px; line-height: 1.3; }
.prizes .prizes__subject-1, .prizes .prizes__subject-2 { top: 0; }
.prizes .prizes__subject-1 { left: 0; }
.prizes .prizes__subject-1 span { left: -15px; }
.prizes .prizes__subject-2 { left: 230px; }
.prizes .prizes__subject-2 span { left: 40px; }
.prizes .prizes__subject-3 { top: 90px; left: 115px; }
.prizes .prizes__subject-3 span { left: 7px; }
.prizes .prizes__subject-4 { top: -5px; left: 50%; width: 216px; height: 216px; margin-left: -108px; }
.prizes .prizes__subject-4 span { top: 240px; left: 7px; width: 100%; font-size: 18px; }
.prizes .prizes__subject-4 strong { display: block; }

.prizes_mod { padding: 0 0 30px 0; background: none; text-align: center; }
.prizes_mod .prizes__item { margin: 0 75px; }
.prizes_mod .prizes__item_mod { margin: 60px 75px 0 75px; }
.prizes_mod .prizes__item_mod .prizes__by-title { text-align: left; }
.prizes_mod .prizes__title { margin-bottom: 30px; font-weight: 700; }

.participants { margin-bottom: 15px; }
.participants .h2 { padding-bottom: 20px; text-align: center; }

.participants_all .h2 { padding: 30px 0; font-weight: 400; }

.participants__list { font-size: 0; text-align: center; }

.participants__item { display: inline-block; vertical-align: top; width: 300px; padding: 0 10px; margin-bottom: 40px; }

.participants__pic { position: relative; height: 240px; margin-bottom: 5px; -webkit-border-radius: 10px; -moz-border-radius: 10px; -ms-border-radius: 10px; -o-border-radius: 10px; border-radius: 10px; -webkit-box-shadow: 0 0px 12px #cccccc; -moz-box-shadow: 0 0px 12px #cccccc; box-shadow: 0 0px 12px #cccccc; background: url(../img/body-bg.jpg); }
.participants__pic img { position: relative; top: 9px; left: 0; }

.participants__pic-out { position: absolute; top: 7px; left: 7px; width: 285px; height: 205px; background: url(../img/out-bg.png) no-repeat; }

.participants__logo { position: absolute; top: 187px; left: 105px; background: url('../img/icons-sfb58499c2c.png') 0 -372px no-repeat; width: 81px; height: 48px; }

.participants__info { font-size: 18px; text-align: center; }
.participants__info a { color: #7a7a7a; }
.participants__info a:hover { text-decoration: underline; }
.participants__info p { margin: 5px 0; color: #282828; }
.participants__info .vote a { color: white; }
.participants__info .vote a:hover { text-decoration: none; }

.tabs { margin-bottom: 45px; font-size: 0; text-align: center; }
.tabs .h1 { padding: 40px 0 30px 0; font-size: 40px; }
.tabs ul, .tabs li { display: inline-block; }
.tabs ul { -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px; -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px; box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2UxZTFlMSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e1e1e1)); background-image: -webkit-linear-gradient(top, #ffffff, #e1e1e1); background-image: -moz-linear-gradient(top, #ffffff, #e1e1e1); background-image: -o-linear-gradient(top, #ffffff, #e1e1e1); background-image: linear-gradient(top, #ffffff, #e1e1e1); -webkit-border-radius: 10px; -moz-border-radius: 10px; -ms-border-radius: 10px; -o-border-radius: 10px; border-radius: 10px; overflow: hidden; }
.tabs li { vertical-align: top; }
.tabs li:first-child a { border-left: none; }
.tabs li:last-child a { border-right: none; }
.tabs li.no-active a { background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2UxZTFlMSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e1e1e1)); background-image: -webkit-linear-gradient(top, #ffffff, #e1e1e1); background-image: -moz-linear-gradient(top, #ffffff, #e1e1e1); background-image: -o-linear-gradient(top, #ffffff, #e1e1e1); background-image: linear-gradient(top, #ffffff, #e1e1e1); font-weight: 400; color: #969696; cursor: default; }
.tabs li.active a { background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UxZTFlMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e1e1e1), color-stop(100%, #ffffff)); background-image: -webkit-linear-gradient(top, #e1e1e1, #ffffff); background-image: -moz-linear-gradient(top, #e1e1e1, #ffffff); background-image: -o-linear-gradient(top, #e1e1e1, #ffffff); background-image: linear-gradient(top, #e1e1e1, #ffffff); font-weight: 700; color: #6d6560; cursor: default; }
.tabs a { display: block; width: 195px; height: 40px; border-left: 1px solid #e1e1e1; border-right: 1px solid white; text-align: center; line-height: 40px; font-size: 17px; color: #2c6aa7; }
.tabs a:hover { background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YxZjFmMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Q1ZDVkNSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f1f1f1), color-stop(100%, #d5d5d5)); background-image: -webkit-linear-gradient(top, #f1f1f1, #d5d5d5); background-image: -moz-linear-gradient(top, #f1f1f1, #d5d5d5); background-image: -o-linear-gradient(top, #f1f1f1, #d5d5d5); background-image: linear-gradient(top, #f1f1f1, #d5d5d5); font-weight: 700; }
