@import "lib/base";

.upload{
	width: 654px;
	height: 460px;
	margin: 0px auto;
	padding: 27px;
	border: 1px solid #ede9e9;
	border-top: none;
	@include border-radius(0px 0px 10px 10px);
	@include box-shadow(inset 0px -1px 2px #ede9e9);
	background-color: #fff;
	.upload__drop{
		position: relative;
		height: 458px;
		text-align: center;
		border: 1px solid #d1d1d1;
		@include border-radius(10px);
		background: #f1f1f1 url(../img/upload-bg.png) 50% 50% no-repeat;
		font: 18px 'OpenSans-r';
		p{
			padding-top: 155px;
			font: 24px 'OpenSans-b';
		}
		span{
			display: block;
			margin: 5px 0px;
		}
		.upload__field{
			position:absolute;
			top: 223px;
			left: 225px;
			width: 201px;
			height: 51px;
			opacity: 0;
			z-index: 3;
			&:hover{
				cursor: pointer;
			}
		}
		.upload__btn{
			width: 201px;
			height: 51px;
			border-left: 1px solid #d9d9d9;
			border-right: 1px solid #d9d9d9;
			border-top: 1px solid #fff;
			border-bottom: 1px solid #b5b5b5;
			@include border-radius(5px);
			@include background-image(linear-gradient(top, #fff, #e1e1e1)); 
			@include box-shadow(0px 1px 1px #dbdbdb);
			font: 20px 'OpenSans-l';
			color: #004f98;
			z-index: 1;
		}
	}
}
.drop_enter{
			width: 648px;
			height: 454px;
			border: 3px solid #96bbeb;
			p{
				padding-top:153px;
			}
			span{
				margin-left: -1px;
			}
		}	