@import "base"
//main styles
//main-action
.main-action
	position: relative
	width: 530px
	height: 350px
	padding-top: 75px
	.h1
		margin-bottom: 20px
		line-height: 1.3
	p
		margin-bottom: 25px
		font-size: 24px
		color: #3f3f3f
.main-action__pic-1, .main-action__pic-2, .main-action__pic-3
	position: absolute	
	img
		display: block
		border: 2px solid #fff
		@include border-radius(10px)
		@include box-shadow(0 3px 3px #ccc)
.main-action__pic-1
	top: 90px
	right: -325px
	z-index: 3
.main-action__pic-2
	top: 140px
	right: -470px
	+rotate(-10)
	z-index: 2
.main-action__pic-3
	top: 40px
	right: -430px
	+rotate(9)
	z-index: 1
//prizes
.prizes
	margin-bottom: 35px
	padding: 30px 0
	background: url(../img/yellow-bg.jpg)
	color: $blue
	.h2
		margin-bottom: 35px
		text-align: center
	.prizes__list
		font-size: 0		
	.prizes__item
		position: relative
		display: inline-block
		width: 295px
		vertical-align: top
		.prizes__by-title
			right: 5px
		.prizes__by		
			top: 10px
			left: 200px
			z-index: 3 
	.prizes__item_mod
		width: 410px
		.prizes__by-title
			left: 139px
		.prizes__by		
			left: 155px
	.prizes__info
		position: relative
		height: 320px
	.prizes__by-title
		position: absolute
		top: 5px
		font-size: 18px
		font-weight: 700
		text-shadow: #fff 2px 0px 1px, #fff 2px 2px 1px, #fff 0px 2px 1px, #fff -2px 2px 1px, #fff -2px 0px 1px, #fff -2px -2px 1px, #fff 0px -2px 1px, #fff 2px -2px 1px, rgba(0,0,0,0.75) 3px 3px 8px
		z-index: 5 
	.prizes__title
		margin-bottom: 50px
		text-align: center
		font-size: 24px
	.prizes__by, .prizes__subject
		position: absolute
		img
			display: block
			+border-radius(50%)
			border: 1px solid #ccb59a				
	.prizes__by		
		width: 70px
		height: 70px
		img
			+box-shadow(rgba(0,0,0,0.24) 4px 4px 9px)				
	.prizes__subject
		position: absolute
		width: 150px
		height: 150px
		span
			position: absolute
			top: 160px
			width: 140px
			text-align: center
			font-size: 14px
			line-height: 1.3
	.prizes__subject-1, .prizes__subject-2
		top: 0
	.prizes__subject-1
		left: 0
		span
			left: -15px
	.prizes__subject-2
		left: 230px
		span
			left: 40px
	.prizes__subject-3
		top: 90px
		left: 115px
		span
			left: 7px
	.prizes__subject-4
		top: -5px
		left: 50%
		width: 216px
		height: 216px
		margin-left: -108px 
		span
			top: 240px
			left: 7px
			width: 100%
			font-size: 18px
		strong
			display: block
.prizes_mod
	background: none 
	text-align: center
	.prisez__txt
		margin-bottom: 60px
		font-size: 18px
		color: #3f3f3f
		line-height: 1.4
	.prizes__item
		margin: 0 75px
	.prizes__item_mod
		margin: 60px 75px 0 75px
		.prizes__by-title
			text-align: left
	.prizes__title
		margin-bottom: 30px
		font-weight: 700 
//participants
.participants
	margin-bottom: 15px
	.h2
		padding-bottom: 20px
		text-align: center
.participants_all
	.h2
		padding: 30px 0
		font-weight: 400 
.participants__list
	font-size: 0
	text-align: center
.participants__item
	display: inline-block
	vertical-align: top
	width: 300px
	padding: 0 10px
	margin-bottom: 40px
.participants__pic
	position: relative
	height: 240px
	margin-bottom: 5px
	+border-radius(10px)
	+box-shadow(0 0px 12px #cccccc)
	background: url(../img/body-bg.jpg)
	img
		position: relative
		top: 9px
		left: 0	
.participants__pic-out
	position: absolute
	top: 7px
	left: 7px
	width: 285px
	height: 205px
	background: url(../img/out-bg.png) no-repeat
.participants__logo
	position: absolute
	top: 187px
	left: 105px
	+sized-sprite($icons, logo-s)
.participants__info
	font-size: 18px
	text-align: center
	a
		color: #7a7a7a 
		&:hover
			text-decoration: underline
	p
		margin: 5px 0
		color: #282828 
	.vote
		a
			color: #fff
			&:hover
				text-decoration: none
.tabs	
	margin-bottom: 45px	
	font-size: 0
	text-align: center
	.h1
		padding: 40px 0 30px 0
		font-size: 40px
	ul, li
		display: inline-block
	ul
		+box-shadow(rgba(0,0,0,0.3) 0 1px 3px)
		+background-image(linear-gradient(top, #fff, #e1e1e1))
		+border-radius(10px)
		overflow: hidden
	li
		vertical-align: top
		&:first-child
			a
				border-left: none
		&:last-child
			a
				border-right: none 
		&.no-active
			a
				+background-image(linear-gradient(top, #fff, #e1e1e1))
				font-weight: 400 
				color: #969696
				cursor: default
		&.active
			a
				+background-image(linear-gradient(top, #e1e1e1, #fff))
				font-weight: 700
				color: $brown 
				cursor: default
	a
		display: block
		width: 195px
		height: 40px		
		border-left: 1px solid #e1e1e1 
		border-right: 1px solid #fff
		text-align: center
		line-height: 40px
		font-size: 17px
		color: $blue
		&:hover
			+background-image(linear-gradient(top, #f1f1f1, #d5d5d5))
			font-weight: 700 		