@import "lib/base";

.l-content{
	min-height: 100%;
	height: auto!important;
	height: 100%;
	width: 1400px;
	margin: 0px auto -167px;
	.hFooter{
		height: 167px;
		clear:both;
	}
}
.content__top{
	position: relative;
	padding: 73px 184px 73px;
	article{
		width: 600px;
		h1{
			font: 40px 'HelveticaNeue-Bold';
			color: #6d6560;
			margin-bottom: 15px;
		}
		p{
			font: 24px 'HelveticaNeue-Light';
			color: #3f3f3f;
			line-height: 29px;
			margin-bottom: 32px;
		}
	}
}
.pict__1{
	position: absolute;
	top: 84px;
	right: 367px;
	border: 2px solid #fff;
	@include border-radius(10px);
	@include box-shadow(0 3px 3px #ccc);
	z-index: 3;
}
.pict__2{
	position: absolute;
	top:125px;
	right: 260px;
	border: 2px solid #fff;
	@include border-radius(10px);
	@include rotate(-10);
	@include box-shadow(0 3px 3px #ccc);
	z-index: 2;
}
.pict__3{
	position: absolute;
	top:37px;
	right: 260px;
	border: 2px solid #fff;
	@include border-radius(10px);
	@include rotate(15);
	@include box-shadow(0 3px 3px #ccc);
	z-index: 1;
}
.content__mid{
	position: relative;
	min-height: 565px;
	padding: 28px 130px 76px;
	background: url(../img/fon-orange.png);
	h2{
		margin-bottom: 47px;
		text-align: center;
		font: 32px 'HelveticaNeue-Bold';
		color: #6d6560;
	}
}
// .mega-price{
// 	float:left;
// 	width: 434px;
// 	h3{
// 		font: 24px 'HelveticaNeue-Bold';
// 		color: #3c7ab1;
// 	}
// 	.mega-price__item1{
// 		float: left;
// 		width: 147px;
// 		.mega-price__img{
// 			height: 147px;
// 			border: 1px solid #cfb99e;
// 			@include border-radius(10px);
// 			background-color: #fff;
// 		}

// 	}
// 	.panasonic{
// 		float: left;
// 		@include sized-sprite($icons, panasonic);
// 	}
// }
